
/*set some colours to give a sort of dark theme to the pages*/

body {
    height: 100%;
    color: lightgreen;
 background: rgb(68,63,167);
background: linear-gradient(86deg, rgba(68,63,167,1) 0%, rgba(9,151,207,1) 100%); 
    margin: 0;
  
}
.main {
    padding: 0 2em;

    max-width: 60rem;
    margin: auto;
 
}
/* The white polygon at the bottom of the page */
.bottom {
    width: 100%;
    height: 10rem;
    background-color: white;
    padding: 0;

    clip-path: polygon(0 76%, 100% 94%, 100% 100%, 0 100%);
    position: absolute
    z-index: -1;
    
}

h1 {
    text-align: center;
    color: lightgreen;
}

/* change the link colours so they are more visible on my blue background*/

a:link {
    color: #F9A7F8;
}
a:visited {
    color: #B781DB;
}
a:hover {
    color: #BFF2FD;
}
